<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Pontos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sistema de Pontos</h1>
        
        <div class="home-links">
            <a href="{{ url_for('auth.login') }}" class="btn-base">
                <i class="fas fa-sign-in-alt"></i>
                Login
            </a>
        </div>
    </div>
</body>
</html>